extends ../layouts/comon

block content
    h1 Create new user
    form(action="/user/create" method="POST")
        label Name:
        input(type="text" name="name")
        input(type="Submit" value="Create")